## Data Analyst at an Investment Company

In [1]:
import pandas as pd

## TASK 1: Data Exploration

In [2]:
!ls ../01_data

commodity_futures_2000_to_2019.csv commodity_futures_from_2020.csv
commodity_futures_combined.csv     commodity_futures_wheat_sugar.csv

### Task 1a: Open CSV File

In [3]:
df = pd.read_csv("../01_data/commodity_futures_from_2020.csv")

### Task 1b: Inspect Data

In [4]:
df.head()

,Date,NATURAL GAS,GOLD,WTI CRUDE,BRENT CRUDE,SOYBEANS,CORN,COPPER,SILVER,LOW SULPHUR GAS OIL,...,ALUMINIUM,SOYBEAN MEAL,ZINC,ULS DIESEL,NICKEL,GASOLINE,COFFEE,LEAN HOGS,HRW WHEAT,COTTON
0,2020-01-02,2.122,1528.1,61.18,66.25,944.25,391.50,2.8250,18.046,615.50,...,1781.50,300.6,2323.75,202.41,14207.0,170.42,127.10,71.550,485.25,69.27
1,2020-01-03,2.130,1552.4,63.05,68.60,930.50,386.50,2.7870,18.151,625.50,...,1798.75,296.1,2321.00,206.14,13695.0,174.88,126.35,68.550,475.00,69.20
2,2020-01-06,2.135,1568.8,63.27,68.91,932.75,384.75,2.7900,18.179,620.00,...,1805.50,297.7,2334.50,203.39,13756.5,175.44,122.15,68.625,477.25,70.04
3,2020-01-07,2.162,1574.3,62.70,68.27,935.00,384.50,2.7935,18.393,616.75,...,1788.50,296.4,2362.00,203.24,13866.0,172.22,122.40,69.225,475.00,69.83
4,2020-01-08,2.141,1560.2,59.61,65.44,938.25,384.25,2.8120,18.167,606.25,...,1771.00,296.9,2418.50,195.82,13974.0,164.88,119.15,69.025,480.00,69.96

In [5]:
df.tail()

,Date,NATURAL GAS,GOLD,WTI CRUDE,BRENT CRUDE,SOYBEANS,CORN,COPPER,SILVER,LOW SULPHUR GAS OIL,...,ALUMINIUM,SOYBEAN MEAL,ZINC,ULS DIESEL,NICKEL,GASOLINE,COFFEE,LEAN HOGS,HRW WHEAT,COTTON
927,2023-07-31,2.634,1970.5,81.80,85.56,1445.75,504.00,4.0080,24.972,877.25,...,2256.51,451.2,2571.31,299.09,22127.0,292.90,164.65,104.125,812.75,85.44
928,2023-08-01,2.560,1940.7,81.37,84.91,1446.75,497.00,3.9085,24.326,911.50,...,2221.06,456.1,2574.80,302.34,22189.0,287.30,164.55,103.675,804.50,86.87
929,2023-08-02,2.477,1937.4,79.49,83.20,1429.75,488.25,3.8435,23.872,884.50,...,2170.01,451.8,2486.50,300.43,21379.0,277.58,166.95,102.675,787.00,85.08
930,2023-08-03,2.565,1932.0,81.55,85.14,1428.75,480.75,3.8995,23.697,899.50,...,2188.00,451.2,2494.00,307.49,21402.0,276.47,164.75,101.000,767.50,85.28
931,2023-08-04,2.581,1939.0,82.34,85.90,1441.00,482.50,3.8610,23.675,903.25,...,NaN,445.0,NaN,306.23,NaN,277.45,162.55,100.700,760.25,85.48

In [6]:
df.index

RangeIndex(start=0, stop=932, step=1)

In [7]:
df.columns

Index(['Date', 'NATURAL GAS', 'GOLD', 'WTI CRUDE', 'BRENT CRUDE', 'SOYBEANS',
       'CORN', 'COPPER', 'SILVER', 'LOW SULPHUR GAS OIL', 'LIVE CATTLE',
       'SOYBEAN OIL', 'ALUMINIUM', 'SOYBEAN MEAL', 'ZINC', 'ULS DIESEL',
       'NICKEL', 'GASOLINE', 'COFFEE', 'LEAN HOGS', 'HRW WHEAT', 'COTTON'],
      dtype='object')

### Task 1c: Sort the Data

In [8]:
df_sorted = df.sort_values(by="Date")

In [9]:
df_sorted.set_index("Date", inplace=True)

In [10]:
df_sorted

,NATURAL GAS,GOLD,WTI CRUDE,BRENT CRUDE,SOYBEANS,CORN,COPPER,SILVER,LOW SULPHUR GAS OIL,LIVE CATTLE,...,ALUMINIUM,SOYBEAN MEAL,ZINC,ULS DIESEL,NICKEL,GASOLINE,COFFEE,LEAN HOGS,HRW WHEAT,COTTON
Date,,,,,,,,,,,,,,,,,,,,,
2020-01-02,2.122,1528.1,61.18,66.25,944.25,391.50,2.8250,18.046,615.50,125.775,...,1781.50,300.6,2323.75,202.41,14207.0,170.42,127.10,71.550,485.25,69.27
2020-01-03,2.130,1552.4,63.05,68.60,930.50,386.50,2.7870,18.151,625.50,124.725,...,1798.75,296.1,2321.00,206.14,13695.0,174.88,126.35,68.550,475.00,69.20
2020-01-06,2.135,1568.8,63.27,68.91,932.75,384.75,2.7900,18.179,620.00,127.275,...,1805.50,297.7,2334.50,203.39,13756.5,175.44,122.15,68.625,477.25,70.04
2020-01-07,2.162,1574.3,62.70,68.27,935.00,384.50,2.7935,18.393,616.75,126.525,...,1788.50,296.4,2362.00,203.24,13866.0,172.22,122.40,69.225,475.00,69.83
2020-01-08,2.141,1560.2,59.61,65.44,938.25,384.25,2.8120,18.167,606.25,126.350,...,1771.00,296.9,2418.50,195.82,13974.0,164.88,119.15,69.025,480.00,69.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-07-31,2.634,1970.5,81.80,85.56,1445.75,504.00,4.0080,24.972,877.25,178.050,...,2256.51,451.2,2571.31,299.09,22127.0,292.90,164.65,104.125,812.75,85.44
2023-08-01,2.560,1940.7,81.37,84.91,1446.75,497.00,3.9085,24.326,911.50,179.500,...,2221.06,456.1,2574.80,302.34,22189.0,287.30,164.55,103.675,804.50,86.87
2023-08-02,2.477,1937.4,79.49,83.20,1429.75,488.25,3.8435,23.872,884.50,178.025,...,2170.01,451.8,2486.50,300.43,21379.0,277.58,166.95,102.675,787.00,85.08
2023-08-03,2.565,1932.0,81.55,85.14,1428.75,480.75,3.8995,23.697,899.50,178.500,...,2188.00,451.2,2494.00,307.49,21402.0,276.47,164.75,101.000,767.50,85.28
2023-08-04,2.581,1939.0,82.34,85.90,1441.00,482.50,3.8610,23.675,903.25,180.150,...,NaN,445.0,NaN,306.23,NaN,277.45,162.55,100.700,760.25,85.48

### Task 1d: Get missing Data information.

In [11]:
df_sorted.info()

<class 'pandas.core.frame.DataFrame'>
Index: 932 entries, 2020-01-02 to 2023-08-04
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   NATURAL GAS          924 non-null    float64
 1   GOLD                 923 non-null    float64
 2   WTI CRUDE            924 non-null    float64
 3   BRENT CRUDE          931 non-null    float64
 4   SOYBEANS             923 non-null    float64
 5   CORN                 924 non-null    float64
 6   COPPER               924 non-null    float64
 7   SILVER               920 non-null    float64
 8   LOW SULPHUR GAS OIL  931 non-null    float64
 9   LIVE CATTLE          924 non-null    float64
 10  SOYBEAN OIL          919 non-null    float64
 11  ALUMINIUM            886 non-null    float64
 12  SOYBEAN MEAL         922 non-null    float64
 13  ZINC                 886 non-null    float64
 14  ULS DIESEL           924 non-null    float64
 15  NICKEL               886 non-null    float64
 16  GASOLINE             924 non-null    float64
 17  COFFEE               920 non-null    float64
 18  LEAN HOGS            924 non-null    float64
 19  HRW WHEAT            918 non-null    float64
 20  COTTON               919 non-null    float64
dtypes: float64(21)
memory usage: 160.2+ KB

In [12]:
len(df_sorted)

932

### Task 1e: Mitigate missing Data information.

In [13]:
df_sorted.fillna(method="ffill", inplace=True)

In [14]:
df_sorted.info()

<class 'pandas.core.frame.DataFrame'>
Index: 932 entries, 2020-01-02 to 2023-08-04
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   NATURAL GAS          932 non-null    float64
 1   GOLD                 932 non-null    float64
 2   WTI CRUDE            932 non-null    float64
 3   BRENT CRUDE          932 non-null    float64
 4   SOYBEANS             932 non-null    float64
 5   CORN                 932 non-null    float64
 6   COPPER               932 non-null    float64
 7   SILVER               932 non-null    float64
 8   LOW SULPHUR GAS OIL  932 non-null    float64
 9   LIVE CATTLE          932 non-null    float64
 10  SOYBEAN OIL          932 non-null    float64
 11  ALUMINIUM            932 non-null    float64
 12  SOYBEAN MEAL         932 non-null    float64
 13  ZINC                 932 non-null    float64
 14  ULS DIESEL           932 non-null    float64
 15  NICKEL               932 non-null    float64
 16  GASOLINE             932 non-null    float64
 17  COFFEE               932 non-null    float64
 18  LEAN HOGS            932 non-null    float64
 19  HRW WHEAT            932 non-null    float64
 20  COTTON               932 non-null    float64
dtypes: float64(21)
memory usage: 160.2+ KB

### Task 1f: Get basic statistics

In [15]:
df_sorted.describe()

,NATURAL GAS,GOLD,WTI CRUDE,BRENT CRUDE,SOYBEANS,CORN,COPPER,SILVER,LOW SULPHUR GAS OIL,LIVE CATTLE,...,ALUMINIUM,SOYBEAN MEAL,ZINC,ULS DIESEL,NICKEL,GASOLINE,COFFEE,LEAN HOGS,HRW WHEAT,COTTON
count,932.000000,932.000000,932.000000,932.000000,932.000000,932.000000,932.000000,932.000000,932.000000,932.000000,...,932.000000,932.000000,932.000000,932.000000,932.000000,932.000000,932.000000,932.000000,932.000000,932.000000
mean,3.868773,1815.333798,68.585708,72.537661,1322.955204,559.532994,3.724381,22.695509,684.019045,130.821593,...,2299.592607,392.915236,2891.662876,235.508101,20186.734431,216.760891,166.801127,83.369903,733.545869,88.907242
std,2.045967,109.957830,22.962347,23.071437,262.270035,140.207746,0.686054,3.345157,282.029393,23.017080,...,485.826125,64.387245,566.938084,95.032075,5952.885764,77.831419,46.442249,19.450631,207.189667,23.076272
min,1.482000,1477.900000,-37.630000,19.330000,821.750000,302.750000,2.119500,11.735000,190.750000,83.825000,...,1426.500000,280.000000,1806.750000,61.040000,10831.000000,41.180000,93.650000,37.325000,414.000000,48.410000
25%,2.354250,1747.400000,51.357500,55.235000,1161.625000,419.937500,3.282750,20.648500,456.000000,114.343750,...,1966.687500,339.400000,2458.812500,159.600000,15962.750000,152.337500,122.000000,68.100000,558.000000,71.280000
50%,2.943000,1814.100000,71.645000,74.920000,1401.500000,584.500000,3.832750,23.479000,652.250000,126.662500,...,2310.250000,406.200000,2914.250000,225.870000,19658.250000,225.670000,166.400000,83.925000,748.625000,84.290000
75%,5.143000,1900.325000,81.932500,86.122500,1510.250000,666.250000,4.283125,25.102000,882.187500,144.250000,...,2565.750000,442.225000,3220.812500,301.590000,23096.062500,261.225000,209.525000,100.100000,869.250000,100.532500
max,9.680000,2055.700000,123.700000,127.980000,1769.000000,818.250000,4.929000,29.418000,1522.500000,181.325000,...,3875.500000,521.900000,4523.050000,513.540000,48211.000000,427.620000,258.350000,122.875000,1367.750000,158.020000

## TASK 2: Data Selection and Filtering.

In [16]:
df_sorted.columns

Index(['NATURAL GAS', 'GOLD', 'WTI CRUDE', 'BRENT CRUDE', 'SOYBEANS', 'CORN',
       'COPPER', 'SILVER', 'LOW SULPHUR GAS OIL', 'LIVE CATTLE', 'SOYBEAN OIL',
       'ALUMINIUM', 'SOYBEAN MEAL', 'ZINC', 'ULS DIESEL', 'NICKEL', 'GASOLINE',
       'COFFEE', 'LEAN HOGS', 'HRW WHEAT', 'COTTON'],
      dtype='object')

### Task 2a: Select Column.

In [17]:
df_sorted["SOYBEANS"]

Date
2020-01-02     944.25
2020-01-03     930.50
2020-01-06     932.75
2020-01-07     935.00
2020-01-08     938.25
               ...
2023-07-31    1445.75
2023-08-01    1446.75
2023-08-02    1429.75
2023-08-03    1428.75
2023-08-04    1441.00
Name: SOYBEANS, Length: 932, dtype: float64

### Task 2b: Select Slice of Data for year 2022.

In [18]:
df_sorted["SOYBEANS"].loc["2022-01-01" : "2022-12-31"]

Date
2022-01-03    1344.00
2022-01-04    1378.75
2022-01-05    1384.25
2022-01-06    1377.25
2022-01-07    1401.50
               ...
2022-12-23    1480.75
2022-12-27    1482.25
2022-12-28    1506.50
2022-12-29    1508.75
2022-12-30    1519.25
Name: SOYBEANS, Length: 258, dtype: float64

### Task 2c: Select first 3 rows.

In [19]:
df_sorted["SOYBEANS"].iloc[:3]

Date
2020-01-02    944.25
2020-01-03    930.50
2020-01-06    932.75
Name: SOYBEANS, dtype: float64

### Task 2d: Select last 3 rows.

In [20]:
df_sorted["SOYBEANS"].iloc[-3:]

Date
2023-08-02    1429.75
2023-08-03    1428.75
2023-08-04    1441.00
Name: SOYBEANS, dtype: float64

### Task 2e: Get last row value

In [21]:
df_sorted["SOYBEANS"].iat[-1]

1441.0

### Task 2f: Get min, max and median value

In [22]:
df_sorted["SOYBEANS"].min()

821.75

In [23]:
df_sorted["SOYBEANS"].max()

1769.0

In [24]:
df_sorted["SOYBEANS"].median()

1401.5

### Task 2g: Filtering Data : Get all the days when soybeans was trading below median value.

In [25]:
df_sorted["SOYBEANS"].index[-1]

'2023-08-04'

In [26]:
three_months = df_sorted["SOYBEANS"].loc["2023-05-04":]

In [27]:
median = three_months.median()
median

1451.0

In [28]:
three_months.loc[three_months < median]

Date
2023-05-04    1448.50
2023-05-10    1436.50
2023-05-11    1443.25
2023-05-12    1435.00
2023-05-15    1400.75
2023-05-16    1364.00
2023-05-17    1337.00
2023-05-18    1333.25
2023-05-19    1334.50
2023-05-22    1341.25
2023-05-23    1322.50
2023-05-24    1324.50
2023-05-25    1324.00
2023-05-26    1341.25
2023-05-29    1341.25
2023-05-30    1296.50
2023-05-31    1299.75
2023-06-01    1329.50
2023-06-02    1345.25
2023-06-05    1350.00
2023-06-06    1353.25
2023-06-07    1360.75
2023-06-08    1363.25
2023-06-09    1382.50
2023-06-12    1372.75
2023-06-13    1399.25
2023-06-14    1388.25
2023-06-15    1428.25
2023-07-31    1445.75
2023-08-01    1446.75
2023-08-02    1429.75
2023-08-03    1428.75
2023-08-04    1441.00
Name: SOYBEANS, dtype: float64

## TASK 3: Merge Data.

In [29]:
!ls ../01_data

commodity_futures_2000_to_2019.csv commodity_futures_from_2020.csv
commodity_futures_combined.csv     commodity_futures_wheat_sugar.csv

In [30]:
df1 = pd.read_csv("../01_data/commodity_futures_2000_to_2019.csv")
df2 = pd.read_csv("../01_data/commodity_futures_from_2020.csv")

In [31]:
df_combined = pd.concat([df1, df2], ignore_index=True)

In [32]:
df_combined

,Date,NATURAL GAS,GOLD,WTI CRUDE,BRENT CRUDE,SOYBEANS,CORN,COPPER,SILVER,LOW SULPHUR GAS OIL,...,ALUMINIUM,SOYBEAN MEAL,ZINC,ULS DIESEL,NICKEL,GASOLINE,COFFEE,LEAN HOGS,HRW WHEAT,COTTON
0,2000-01-03,NaN,NaN,NaN,NaN,456.50,200.75,NaN,NaN,NaN,...,NaN,146.4,1237.50,NaN,8446.0,NaN,116.50,55.975,274.25,51.07
1,2000-01-04,2.176,283.7,25.55,24.39,464.25,203.00,0.8480,5.375,213.50,...,1617.50,147.9,1215.00,67.78,8314.0,NaN,116.25,55.625,274.00,50.73
2,2000-01-05,2.168,282.1,24.91,23.73,469.25,203.00,0.8565,5.210,213.00,...,1636.50,150.7,1209.25,66.55,8307.0,NaN,118.60,55.075,276.25,51.56
3,2000-01-06,2.196,282.4,24.78,23.62,468.00,203.75,0.8530,5.167,211.25,...,1639.75,149.1,1212.00,66.28,8252.0,NaN,116.85,55.175,275.00,52.08
4,2000-01-07,2.173,282.9,24.22,23.09,471.50,207.00,0.8540,5.195,205.25,...,1652.00,149.1,1209.25,64.75,8174.0,NaN,114.15,55.625,277.75,53.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6087,2023-07-31,2.634,1970.5,81.80,85.56,1445.75,504.00,4.0080,24.972,877.25,...,2256.51,451.2,2571.31,299.09,22127.0,292.90,164.65,104.125,812.75,85.44
6088,2023-08-01,2.560,1940.7,81.37,84.91,1446.75,497.00,3.9085,24.326,911.50,...,2221.06,456.1,2574.80,302.34,22189.0,287.30,164.55,103.675,804.50,86.87
6089,2023-08-02,2.477,1937.4,79.49,83.20,1429.75,488.25,3.8435,23.872,884.50,...,2170.01,451.8,2486.50,300.43,21379.0,277.58,166.95,102.675,787.00,85.08
6090,2023-08-03,2.565,1932.0,81.55,85.14,1428.75,480.75,3.8995,23.697,899.50,...,2188.00,451.2,2494.00,307.49,21402.0,276.47,164.75,101.000,767.50,85.28
6091,2023-08-04,2.581,1939.0,82.34,85.90,1441.00,482.50,3.8610,23.675,903.25,...,NaN,445.0,NaN,306.23,NaN,277.45,162.55,100.700,760.25,85.48

In [33]:
df_combined.to_csv("../01_data/commodity_futures_combined.csv", index=False)

In [34]:
!ls ../01_data

commodity_futures_2000_to_2019.csv commodity_futures_from_2020.csv
commodity_futures_combined.csv     commodity_futures_wheat_sugar.csv

## TASK 4: Join Data.

## TASK 5: Plot